@charset "utf-8";

body {
  background: var(--bulma-background);
}

.has-text-orange {
  color: #f96854;
}

.navbar.is-centered {
  text-align: center;
  display: block;
  width: 100%;
  border-bottom: 1px solid var(--bulma-text);
}

.navbar.is-centered > .navbar-item,
.navbar.is-centered .navbar-link {
  display: inline-block;
}

ul.has-text-left {
  list-style-position: inside;
  margin-left: 0;
}

[data-theme="dark"],
.theme-dark {
  .is-light {
    display: none !important;
  }

  .is-dark {
    display: flex;
  }
}

[data-theme="light"] {
  .is-dark {
    display: none !important;
  }

  .is-light {
    display: flex;
  }
}
