@charset "utf-8";

// Import the components you need
@forward "../node_modules/bulma/sass/components/";
@forward "../node_modules/bulma/sass/components/card";
@forward "../node_modules/bulma/sass/components/modal";
@forward "../node_modules/bulma/sass/components/navbar";
@forward "../node_modules/bulma/sass/elements/button";
@forward "../node_modules/bulma/sass/elements/icon";
@forward "../node_modules/bulma/sass/elements/content";
@forward "../node_modules/bulma/sass/elements/notification";
@forward "../node_modules/bulma/sass/elements/progress";
@forward "../node_modules/bulma/sass/elements/tag";
@forward "../node_modules/bulma/sass/layout/footer";

// Import the themes so that all CSS variables have a value
@forward "../node_modules/bulma/sass/themes";

body {
  background: var(--bulma-background);
}

.has-text-orange {
  color: #f96854;
}

.navbar.is-centered {
  text-align: center;
  display: block;
  width: 100%;
  border-bottom: 1px solid var(--bulma-text);
}

.navbar.is-centered > .navbar-item,
.navbar.is-centered .navbar-link {
  display: inline-block;
}

ul.has-text-left {
  list-style-position: inside;
  margin-left: 0;
}

[data-theme="dark"],
.theme-dark {
  .is-light {
    display: none !important;
  }
}

[data-theme="light"] {
  .is-dark {
    display: none !important;
  }
}
